<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta charset="utf-8">

		<title>NableCommunications</title>
		<style>
			li {margin: 10px;}
			table {
                border: 1px solid black;
            }
            td {
                padding: 14px;
            }
		</style>
	</head>
	<body>
		<h1><font color="red">[KT] 기업전용 Talk</font></h1>
		
		<p>
	    	[LTE2.0_상용(CB)]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/0fyj1ouaww7x6pg/ktmpbx_2.0.1_rev.6f83_lte2.0_cb.plist">iOS_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/u4e3l82z4i10yp1/ktmpbx_2.0.1_rev.6f83_cb.apk">Android_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC</td><td><a href="https://dl.dropboxusercontent.com/s/2gn8pvja33wopk9/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20%EC%84%A4%EC%B9%98%20release%20-%202.0.0.16762.exe">v2.0.0_build.16762</a></td>
			</tr>
	    </table>
		<br>
		
		<p>
			[LTE2.0_상용(CB_Debug)]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/ovz2erxp8ersl8t/ktmpbx_2.0.1_rev.6f83_lte2.0_cb_debug.plist">iOS_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/porc76w3rhfzkd0/ktmpbx_2.0.1_rev.6f83_cb_debug.apk">Android_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC</td><td><a href="https://dl.dropboxusercontent.com/s/r04a4y7lzg9v9dm/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20%EC%84%A4%EC%B9%98%20debug%20-%202.0.0.16761.exe">v2.0.0_build.16761</a></td>
			</tr>
        </table>
		<br>
		
		<p>
			[LTE2.0_TB]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/h4zouudtefleib5/nXerUC_2.0.1_rev.6f83_lte2.0_tb.plist">iOS_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/uqkae18ttmql74w/nXerUC_2.0.1_rev.6f83_tb.apk">Android_v2.0.1_rev.6f83_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC Portable</td><td><a href="https://dl.dropboxusercontent.com/s/acug2u51tf76d3i/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20debug%20portable-2.0.0.16761.zip">v2.0.0_build.16761</a></td>
			</tr>
        </table>
		<br>
		
		<p>
			[LTE2.0_가로모드(CB_DEBUG)]
		</p>
        <table>
            <tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/b4vr3ylzw4rmevp/ktmpbx_2.0.0_rev.878f_test_cb_debug.plist">iOS_v2.0.0_rev.878f_test_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/67aafr87suaapam/ktmpbx_2.0.0_rev.878f_test_cb_debug.apk">Android_v2.0.0_rev.878f_test_lte2.0</a></td>
			</tr>
        </table>
		</ul>
		<br>

		<p>
			[lte 우선 기능 개선(CB_DEBUG)]
		</p>
        <table>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/01r2qyoz33qz1ro/ktmpbx_2.0.0_rev.878f_voiptest_cb_debug.apk">Android_v2.0.0_rev.878f_voiptest_lte2.0</a></td>
			</tr>
        </table>
		</ul>
		<br>
		
		<p>
	    	[LTE2.0_상용(CB)]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/wkl98o5bccrbdsg/ktmpbx_2.0.0_rev.878f_lte2.0_cb.plist">iOS_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/r3cnglux5phps8j/ktmpbx_2.0.0_rev.878f_lte2.0_cb.apk">Android_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC</td><td><a href="https://dl.dropboxusercontent.com/s/2gn8pvja33wopk9/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20%EC%84%A4%EC%B9%98%20release%20-%202.0.0.16762.exe">v2.0.0_build.16762</a></td>
			</tr>
	    </table>
		<br>
		
		<p>
			[LTE2.0_상용(CB_Debug)]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/ya4wuz1r4spnqig/ktmpbx_2.0.0_rev.878f_lte2.0_cb_debug.plist">iOS_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/6lg5utal8zs7yap/ktmpbx_2.0.0_rev.878f_lte2.0_cb_debug.apk">Android_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC</td><td><a href="https://dl.dropboxusercontent.com/s/r04a4y7lzg9v9dm/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20%EC%84%A4%EC%B9%98%20debug%20-%202.0.0.16761.exe">v2.0.0_build.16761</a></td>
			</tr>
        </table>
		<br>
		
		<p>
			[LTE2.0_TB]
		</p>
		<table>
			<tr>
				<td width="30%">iOS</td><td><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/z93h02lu9xrdhsh/nXerUC_2.0.0_rev.878f_lte2.0_tb.plist">iOS_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">Android</td><td><a href="https://dl.dropboxusercontent.com/s/uyc4f9hnv41ugc2/nXerUC_2.0.0_rev.878f_lte2.0_tb.apk">Android_v2.0.0_rev.878f_lte2.0</a></td>
			</tr>
			<tr>
				<td width="30%">PC Portable</td><td><a href="https://dl.dropboxusercontent.com/s/acug2u51tf76d3i/%EA%B8%B0%EC%97%85%EC%A0%84%EC%9A%A9%20Talk%20debug%20portable-2.0.0.16761.zip">v2.0.0_build.16761</a></td>
			</tr>
        </table>
		<br>
		
	</body>
</html>